body { 
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

.about-container {
  background: url('bg2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.hire-me {
  border-style: solid;
  border-color: white;
}

li {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

h1 {
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	color: white;
	font-size: 18px;
	margin-top: 0;
}

h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
}

.bio {
	color: white;
	font-size: 14px;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: #6112A5;
	margin-top: 40px;
}

.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.accent {
	height: 3px;
	background-color: #56A512;
	border: none;
	width: 50px;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

.full-width {
  width: 100%;
}

.app-links {
  text-align: center;
}

.app-links a {
  padding: 5px;
  margin: 15px;
}

.skills-and-tools {
  max-width: 400px;
  margin: 40px auto;
}

.icons {
  text-align: center;
}

.icon {
  margin: 30px 0;
}

.contact-me {
  height: 350px;
  background-color: rgb(21, 25, 63);
  padding-top: 30px;
}
.contact-headline {
  color: white;
}

.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}
.contact-link {
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin: 15px;
}

i {
  color: white;
  margin: 5px;
}

.clear {
  clear:both;
}